@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Outfit:wght@100..900&family=Roboto+Slab&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}